**Contributed by:** [Doris Lee](https://twitter.com/dorisjlee)

**Posted on:** 10/15/2021

In [1]:
import pandas as pd


One of great things about Pandas is how easy it is to work with date time values. Often times we get datasets that contains a date column like the stock dataset shown below:

In [2]:
df = pd.read_csv("https://github.com/lux-org/lux-datasets/blob/master/data/stocks.csv?raw=True",header=0,names=["stock","date","price"])

In [3]:
df.head()

  stock        date  price
0  MSFT  2000-01-01  39.81
1  MSFT  2000-02-01  36.35
2  MSFT  2000-03-01  43.22
3  MSFT  2000-04-01  28.37
4  MSFT  2000-05-01  25.45

The first thing that we could do is use the `to_datetime` command to convert the date column from its string object representation into a pandas datetime type, so that we can work with it more easily in pandas:

In [4]:
df.date.dtype.name

'object'

In [5]:
df.date = pd.to_datetime(df.date)

In [6]:
df.date.dtype.name

'datetime64[ns]'

Then we can use the `dt` accessor to break up the date column into its individual components: month, year, and date.

In [7]:
df["Month"] = df.date.dt.month
df["Year"] = df.date.dt.year
df["Day"] = df.date.dt.day
df.head()

  stock       date  price  Month  Year  Day
0  MSFT 2000-01-01  39.81      1  2000    1
1  MSFT 2000-02-01  36.35      2  2000    1
2  MSFT 2000-03-01  43.22      3  2000    1
3  MSFT 2000-04-01  28.37      4  2000    1
4  MSFT 2000-05-01  25.45      5  2000    1

What's really awesome about Pandas is that you can even access values that are not originally specified in your date column, including information such as day of the week or day of the year.

In [8]:
df["Weekday"] = df.date.dt.day_of_week
df["Day of Year"] = df.date.dt.day_of_year
df.head()

  stock       date  price  Month  Year  Day  Weekday  Day of Year
0  MSFT 2000-01-01  39.81      1  2000    1        5            1
1  MSFT 2000-02-01  36.35      2  2000    1        1           32
2  MSFT 2000-03-01  43.22      3  2000    1        2           61
3  MSFT 2000-04-01  28.37      4  2000    1        5           92
4  MSFT 2000-05-01  25.45      5  2000    1        0          122

Now you can use the more fine-grained datetime information to explore cyclical patterns and trends in your data!

In [9]:
df.Weekday.replace({0:"Monday",1:"Tuesday",2:"Wednesday",3:"Thursday",4:"Friday",5:"Saturday",6:"Sunday"}).value_counts()

Saturday     85
Monday       82
Tuesday      82
Thursday     81
Sunday       78
Friday       78
Wednesday    74
Name: Weekday, dtype: int64